body {
  margin: 32px;
  padding: 32px;
  font-family:Arial;
  font-size: 16px;
}

.setup,.puzzle {
  padding: 16px;
  margin-bottom: 32px;
  h2 {
    margin: 0px;
  }
}

.setup {
  background-color: lightgray;
  border: 1px solid black;
}
.puzzle {
  background-color: lightpink;
  border:1px solid red;
}
.solved{
  background-color: lightgreen;
  border:1px solid green;
}
